    body {
      background-image: url('https://source.unsplash.com/random/1600×900/?pizza');
      background-size: cover;
    }

    input[type=number] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .input-disabled {
      opacity: .2;
    }

    .input-enabled{
      opacity: 1;
    }

    .button-hidden {
      display: none;
    }

    .button-visible{
      display: block;
    }

    .table-hidden{
      display: none;
    }

    .table-visible {
      display: block;
    }

